{% extends 'base.html.twig' %}

{% block title %}Portfolio Côme de Mauroy{% endblock %}

{% block body %}

    <div id="content-wrapper">
        <header class="header header--bg">
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEVLOVERS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="d-md-none">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">A propos de moi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mes compétences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mes projets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Me contacter</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-md-block d-sm-none">
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">A propos de moi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mes compétences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mes projets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Me contacter</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="header__content text-center">
                    <span class="header__content__block">BONJOUR</span>
                    <h1 class="header__content__title">Je suis Côme de Mauroy</h1>
                    <ul class="header__content__sub-title">
                        <li>SCRUM MASTER<span class="padding">&#45;</span></li>
                        <li>BACK END DEVELOPER<span class="padding">&#45;</span></li>
                        <li>DEV OPS</li>
                    </ul>
                    <a class="header__button" href="mailto:{{ infos[0].mail }}">VOUS AVEZ UN PROJET ? PARLONS-EN</a>
                </div>
                <div class="social-icon pull-right">
                    <ul>
                        <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="about">
            <div class="container about__container--narrow">
                <div class="page-section">
                    <h2 class="page-section__title">A PROPOS DE MOI</h2>
                    <img class="page-section__title-style" src="{{ asset('build/images/title-style.png') }}" alt="">
                    <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="row gutters-80">
                        <div class="col-md-4">
                            <div class="about__image">
                                <img src="{{ asset('build/images/about-me-image.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 about__content">
                            <p class="about__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                            <div class="row row--margin-top">
                                <div class="col-md-4">
                                    <p class="about__bio"><strong>NAME :</strong> Côme de Mauroy</p>
                                    <p class="about__bio"><strong>AGE :</strong> {{ infos[0].age }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="about__bio"><strong>JOB TITLE :</strong> {{ infos[0].job }}</p>
                                    <p class="about__bio"><strong>LOCATION :</strong> {{ infos[0].location }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="button button--colorful button--margin" href="#">DOWNLOAD CV</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="button button--colorful button--margin" href="#">HIRE ME</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="skill skill--bg">
            <div class="container skill__container--narrow">
                <div class="page-section">
                    <h2 class="page-section__title page-section__title--white">MES COMPETENCES</h2>
                    <img class="page-section__title-style" src="{{ asset('build/images/title-style-white.png') }}"
                         alt="">
                    <p class="page-section__paragraph page-section__paragraph--white">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. </p>
                    <div class="row gutters-60">
                        {% for skill in skills %}
                        <div class="col-md-4">
                            <div class="thumbnail text-center">
                                <img src="{{ skill.img }}" alt="">
                                <h4 class="skill__single-part__title">{{ skill.content }}</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         style="width:{{ skill.level }}%;background-color: #7FB7FA;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio">
            <div class="container">
                <div class="page-section">
                    <h2 class="page-section__title">MON PORTFOLIO</h2>
                    <img class="page-section__title-style" src="{{ asset('build/images/title-style.png') }}" alt="">
                    <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="row gutters-40">
                    {% for project in projects %}
                        {% if (project.id + 3) %3==0 %}
                        <div class="col-md-4">
                            <div class="portfolio__single-section mix category-a category-b category-c" data-order="{{ project.id + 1 }}">
                                <img class="portfolio__single-section__image img-responsive"
                                     src="{{ project.img }}" alt="">
                                <div class="portfolio__single-section__overlay">
                                    <div class="overlay-content">
                                        <h4>{{project.content}}</h4>
                                        <p>Designer</p>
                                    </div>
                                    <div class="portfolio__single-section__search-icon">
                                        <a href="{{ project.link }}"><img src=" {{ asset('build/images/search-icon.png') }}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <div class="portfolio__single-section mix category-a category-c" data-order="{{ project.id + 1 }}">
                                <img class="portfolio__single-section__image img-responsive"
                                     src="{{project.img}}" alt="">
                                <div class="portfolio__single-section__overlay">
                                    <div class="overlay-content">
                                        <h4>{{ project.content }}</h4>
                                        <p>Designer</p>
                                    </div>
                                    <div class="portfolio__single-section__search-icon">
                                        <a href="{{ project.link }}"><img src=" {{ asset('build/images/search-icon.png') }}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>


        <section class="brand-logo brand-logo--bg">
            <div class="container">
                <div class="row">
                    <div class="brand-logo__wrapper">
                        <li><img class="img-responsive" src="{{ asset('build/images/brand-1.png') }}" alt=""></li>
                        <li><img class="img-responsive" src="{{ asset('build/images/brand-2.png') }}" alt=""></li>
                        <li><img class="img-responsive" src="{{ asset('build/images/brand-3.png') }}" alt=""></li>
                        <li><img class="img-responsive" src="{{ asset('build/images/brand-4.png') }}" alt=""></li>
                        <li><img class="img-responsive" src="{{ asset('build/images/brand-1.png') }}" alt=""></li>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog">
            <div class="container">
                <div class="page-section">
                    <h2 class="page-section__title">MES ARTICLES</h2>
                    <img class="page-section__title-style" src="{{ asset('build/images/title-style.png') }}" alt="">
                    <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <div class="row gutters-40">
                        <div class="col-md-4">
                            <div class="thumbnail text-center">
                                <img class="img-responsive" src="{{ asset('build/images/blog-1.png') }}" alt="">
                                <p class="blog__single__date">MAY 25 , 2017 </p>
                                <i class="material-icons">comment</i> 5
                                <a href="#"><h4 class="blog__single__title">HEADLINE LATEST WORLD NEWS</h4></a>
                                <p class="blog__single__paragraph">orem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore Ut enim ad minim veniam
                                    <a href="#"><span class="blog__single__paragraph--read-more">READ MORE...</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail text-center">
                                <img src="{{ asset('build/images/blog-2.png') }}" alt="">
                                <p class="blog__single__date">MAY 25 , 2017 </p>
                                <i class="material-icons">comment</i> 5
                                <a href="#"><h4 class="blog__single__title">HEADLINE LATEST WORLD NEWS</h4></a>
                                <p class="blog__single__paragraph">orem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore Ut enim ad minim veniam
                                    <a href="#"><span class="blog__single__paragraph--read-more">READ MORE...</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail text-center">
                                <img src="{{ asset('build/images/blog-3.png') }}" alt="">
                                <p class="blog__single__date">MAY 25 , 2017 </p>
                                <i class="material-icons">comment</i> 5
                                <a href="#"><h4 class="blog__single__title">HEADLINE LATEST WORLD NEWS</h4></a>
                                <p class="blog__single__paragraph">orem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore Ut enim ad minim veniam
                                    <a href="#"><span class="blog__single__paragraph--read-more">READ MORE...</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer footer--bg">
            <div class="container text-center">
                <h1 class="footer__title">DEVLOVERS</h1>
                <ul class="footer__contact-information">
                    <li><a href="tel: {{ infos[0].phone }}"><i class="material-icons">phone</i> {{ infos[0].phone }}</a></li>
                    <li><a href="mailto:{{ infos[0].mail }}"><i class="material-icons">email</i>
                            {{ infos[0].mail }}</a></li>
                    <li><a href="#"><i class="material-icons">location_on</i> {{ infos[0].location}}</a></li>
                </ul>
            </div>
            <hr style="border: 0;border-top: 1px solid #525B60;display:block;margin-top: 40px;">
            <div class="container text-center">
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
                        <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                    </ul>
                </div>
                <p class="footer__paragraph">Copyright &copy; 2020 DEVLOVERS , All Rights Reserved.</p>
            </div>
        </footer>
    </div>
{% endblock %}
